@model CarRental.Models.Truck

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Id)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ColorId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Color.Id)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelTankCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelTankCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarBody.CarBodyNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarBody.CarBodyNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Engine.VIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Engine.VIN)
        </dd>

    </dl>
    @if (Model.Colors.Count > 0)
    {
        <div class="display-label"><b>Цвета</b></div>
        <ul>
            @foreach (Color c in Model.Colors)
            {
                <li>@c.Name</li>
            }
        </ul>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
